<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5level] %d{HH:mm:ss.SSS} [%t] %logger{36} (%F:%L) - %msg%n" />
		</Console>	
	</Appenders>

	<Loggers>
		<logger name="com.curso.brewer" level="debug"/>	
		
		<!-- Responsavel por TODOS os log do Hibernate 
		<logger name="org.hibernate" level="DEBUG" /> -->
		
		<!-- Responsavel pelos logs das transacao org.hibernate.engine.transaction.internal -->			
		
		<!-- Responsavel por todos os log do Hibernate Apenas o SQL -->
		<logger name="org.hibernate.SQL" level="debug" /> 	
	
		<Root level="info">
			<AppenderRef ref="Console" />			
		</Root>

	</Loggers>

</Configuration>