<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5level] %d{HH:mm:ss.SSS} [%t] %logger{36} (%F:%L) - %msg%n" />
		</Console>	
	</Appenders>

	<Loggers>
		<logger name="com.curso.brewer.controller" level="DEBUG"/>		
	
		<Root level="ERROR">
			<AppenderRef ref="Console" />			
		</Root>

	</Loggers>

</Configuration>