<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>

		<form action="/noticias/salvar" method="post">
			
			<label for="titulo">Título</label>
			<input type="text" name="titulo" id="titulo" />
			<br/>

			<label for="noticia">Notícia</label>
			<textarea rows="5" cols="15" name="noticia" id="noticia"></textarea>
			<br/>
			<input type="submit" value="Salvar" />

		</form>



	</body>
</html>