<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Cadastro de livro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <form action="/produtos" method="POST">
        <div class="form-group">
            <label for="titulo">Título</label>
            <input class="form-control" id="titulo" type="text">
        </div>
        <div class="form-group">
            <label for="isbn">ISBN</label>
            <input type="text" class="form-control" id="isbn">
        </div>
        <div class="form-group">
            <label for="preco">Preço</label>
            <input type="text" class="form-control" id="preco">
        </div>
        <input type="submit" class="btn btn-default" value="Salvar"/>
    </form>
</body>

</html>